<% if (cannot? :upate, Article) && (current_user != @article.user) %>
  <% flash[:danger] = "You are not authorized to view his page" %>
  <script type="text/javascript">
    window.location.href="/articles"  // put your correct path in a string here
  </script>
<% end %>

<div class="row well col-md-12">
  <h3 class="page-header">New Article</h3>
  <%= render 'form' %>
</div>