// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-timestamp {
  color: #cacaca;
  text-align: right;
}

.comment_meta {
  text-align: center;
  border-right: 1px solid #eaeaea;
}