<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Navigation</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Articles</li>
      <li><%= link_to "Articles", articles_path  %></li>
      <% if can? :create, Article %>
        <li><%= link_to "New Article", new_article_path  %></li>
      <% end %>
      <li class="nav-header">Categories</li>
      <li><%= link_to "Categories", categories_path  %></li>
      <% if can? :create, Category %>
        <li><%= link_to "New Category", new_category_path  %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->